<?xml version="1.0"?>
<launch>
  <arg name="manager_name" default="nodelet_manager" />

  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="hog_detector_nodelet"
      args="load camera_apps/HogDetectorNodelet $(arg manager_name)" >
    <param name="model_path" value="$(find camera_apps)/model" />
    <rosparam file="$(find camera_apps)/config/param/hog_detector.yaml" command="load"/>
  </node>    

  <node pkg="nodelet" type="nodelet" name="object_state_estimator_nodelet"
      args="load camera_apps/ObjectStateEstimatorNodelet $(arg manager_name)" >
    <rosparam file="$(find camera_apps)/config/param/object_state_estimator.yaml" command="load"/>
  </node>    

  <node pkg="nodelet" type="nodelet" name="moiton_predictor_nodelet"
      args="load camera_apps/MotionPredictorNodelet $(arg manager_name)" >
    <rosparam file="$(find camera_apps)/config/param/motion_predictor.yaml" command="load"/>
  </node>    

  <!-- <param name="use_sim_time" value="true" type="bool"/> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_fixed_to_origin"
      args="0 0 0 4.7124 0 4.7124 camera_fixed_frame camera_color_optical_frame">
  </node>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_fixed" -->
  <!--     args="0 0 0.7 0 0 0 base_link camera_fixed_frame"/> -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_base_to_scan" -->
  <!--     args="0 0 0 0 0 0 base_link laser"> -->
  <!-- </node> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_camera_to_vaiconcamera"
      args="0 0 0 0 0 0 vicon/camera/camera camera_fixed_frame">
  </node>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_camera_to_velodyne"
      args="0 0 0 0 0 0 velodyne camera_fixed_frame">
  </node>

  <node pkg="rviz" name="rviz" type="rviz" args="-d $(find camera_apps)/config/rviz/camera_apps.rviz" output="screen"/>
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find camera_apps)/config/rviz/camera_apps_full.rviz" output="screen"/> -->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d $(find camera_apps)/config/rviz/camera_apps_colorful2.rviz" output="screen"/> -->

  <node name="image_republish" pkg="image_transport" type="republish" args="compressed raw">
      <remap from="in" to="/camera/color/image_raw/" />
      <remap from="out" to="/camera/color/image_raw" />
  </node>
</launch>
